/* arima-madurai-300 - latin */
@font-face {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 300;
    src: local('Arima Madurai Light'), local('ArimaMadurai-Light'),
    url('../../fonts/arima_madurai/light/arima-madurai-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/arima_madurai/light/arima-madurai-v3-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/arima_madurai/light/arima-madurai-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/arima_madurai/light/arima-madurai-v3-latin-300.svg#ArimaMadurai') format('svg'); /* Legacy iOS */
}

/* arima-madurai-regular - latin */
@font-face {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 400;
    src: local('Arima Madurai'), local('ArimaMadurai-Regular'),
    url('../../fonts/arima_madurai/regular/arima-madurai-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/arima_madurai/regular/arima-madurai-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/arima_madurai/regular/arima-madurai-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/arima_madurai/regular/arima-madurai-v3-latin-regular.svg#ArimaMadurai') format('svg'); /* Legacy iOS */
}

/* arima-madurai-500 - latin */
@font-face {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 500;
    src: local('Arima Madurai Medium'), local('ArimaMadurai-Medium'),
    url('../../fonts/arima_madurai/medium/arima-madurai-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/arima_madurai/medium/arima-madurai-v3-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/arima_madurai/medium/arima-madurai-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/arima_madurai/medium/arima-madurai-v3-latin-500.svg#ArimaMadurai') format('svg'); /* Legacy iOS */
}

/* arima-madurai-700 - latin */
@font-face {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 700;
    src: local('Arima Madurai Bold'), local('ArimaMadurai-Bold'),
    url('../../fonts/arima_madurai/bold/arima-madurai-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/arima_madurai/bold/arima-madurai-v3-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/arima_madurai/bold/arima-madurai-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/arima_madurai/bold/arima-madurai-v3-latin-700.svg#ArimaMadurai') format('svg'); /* Legacy iOS */
}
