/* cormorant-infant-300 - latin */
@font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 300;
    src: local('Cormorant Infant Light'), local('CormorantInfant-Light'),
    url('../../fonts/cormorant_infant/light/cormorant-infant-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/cormorant_infant/light/cormorant-infant-v5-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/cormorant_infant/light/cormorant-infant-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/cormorant_infant/light/cormorant-infant-v5-latin-300.svg#CormorantInfant') format('svg'); /* Legacy iOS */
}

/* cormorant-infant-regular - latin */
@font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    src: local('Cormorant Infant Regular'), local('CormorantInfant-Regular'),
    url('../../fonts/cormorant_infant/regular/cormorant-infant-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/cormorant_infant/regular/cormorant-infant-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/cormorant_infant/regular/cormorant-infant-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/cormorant_infant/regular/cormorant-infant-v5-latin-regular.svg#CormorantInfant') format('svg'); /* Legacy iOS */
}

/* cormorant-infant-500 - latin */
@font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 500;
    src: local('Cormorant Infant Medium'), local('CormorantInfant-Medium'),
    url('../../fonts/cormorant_infant/medium/cormorant-infant-v5-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/cormorant_infant/medium/cormorant-infant-v5-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/cormorant_infant/medium/cormorant-infant-v5-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/cormorant_infant/medium/cormorant-infant-v5-latin-500.svg#CormorantInfant') format('svg'); /* Legacy iOS */
}

/* cormorant-infant-700 - latin */
@font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    src: local('Cormorant Infant Bold'), local('CormorantInfant-Bold'),
    url('../../fonts/cormorant_infant/bold/cormorant-infant-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/cormorant_infant/bold/cormorant-infant-v5-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/cormorant_infant/bold/cormorant-infant-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/cormorant_infant/bold/cormorant-infant-v5-latin-700.svg#CormorantInfant') format('svg'); /* Legacy iOS */
}
