/* yantramanav-300 - latin */
@font-face {
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 300;
    src: local('Yantramanav Light'), local('Yantramanav-Light'),
    url('../../fonts/yantramanav/light/yantramanav-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/yantramanav/light/yantramanav-v3-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/yantramanav/light/yantramanav-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/yantramanav/light/yantramanav-v3-latin-300.svg#Yantramanav') format('svg'); /* Legacy iOS */
}

/* yantramanav-regular - latin */
@font-face {
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 400;
    src: local('Yantramanav Regular'), local('Yantramanav-Regular'),
    url('../../fonts/yantramanav/regular/yantramanav-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/yantramanav/regular/yantramanav-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/yantramanav/regular/yantramanav-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/yantramanav/regular/yantramanav-v3-latin-regular.svg#Yantramanav') format('svg'); /* Legacy iOS */
}

/* yantramanav-500 - latin */
@font-face {
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 500;
    src: local('Yantramanav Medium'), local('Yantramanav-Medium'),
    url('../../fonts/yantramanav/medium/yantramanav-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/yantramanav/medium/yantramanav-v3-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/yantramanav/medium/yantramanav-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/yantramanav/medium/yantramanav-v3-latin-500.svg#Yantramanav') format('svg'); /* Legacy iOS */
}

/* yantramanav-700 - latin */
@font-face {
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 700;
    src: local('Yantramanav Bold'), local('Yantramanav-Bold'),
    url('../../fonts/yantramanav/bold/yantramanav-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/yantramanav/bold/yantramanav-v3-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/yantramanav/bold/yantramanav-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/yantramanav/bold/yantramanav-v3-latin-700.svg#Yantramanav') format('svg'); /* Legacy iOS */
}
