.bundle--panel {
	.bundle--panel-header {
		color: @text-color-dark;
	}
	
	.header--icon {
		background-color: @mars-price-discount-color;
		border: 1px solid @mars-price-discount-color;
	}
	
	.price--value-bundle-price,
	.price--value-bundle-star {
		color: @mars-price-discount-color;
	}
	
	.delivery--status-one {
		color: @highlight-success;
	}
	
	.delivery--status-two {
		color: @highlight-notice;
	}
	
	.delivery--status-three {
		color: @highlight-error;
	}
}