.product-slider--arrow {
	.border-radius(0);
	border: 0;
	background: transparent !important;

	&.arrow--prev {
		border-radius: @border-radius;
	}

	&.arrow--next {
		border-radius: @border-radius;
	}

	&.is--vertical {
		&.arrow--prev {
			border-radius: @border-radius;
		}

		&.arrow--next {
			border-radius: @border-radius;
		}
	}
}
