.product--details .product--actions--wrap .action--link {
    margin-right: 1rem;
    font-size: 13px;
}

.product--actions--wrap {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
}

.product--supplier img{
    max-height: 40px;
}

.product--base-info-wrap .product--rating-link i{
    font-size: 12px;
}

.product--base-info-wrap .rating--count-wrapper{
    display: none;
}

.product--details .product--buybox .product--base-info-wrap{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product--details .configurator--form{
    padding: 0 0 .625rem 0;
}

.add-to-cart-wrap{
    background-color: #f5ce05;
    padding: 15px;
    margin: 5px -5px 10px -15px;
}

.product--details .product--buybox .add-to-cart-wrap .price--content {
    font-size: 42px;
    color: #fff;
}

.product--details .add-to-cart-wrap .product--tax,
.product--details .add-to-cart-wrap .product--tax a{
    color: #fff;
}

.product--details .add-to-cart-wrap .buybox--form {
    padding: .625rem 0 0 0;
}

.product--details .add-to-cart-wrap .buybox--button {
    background-color: #fff;
    color: #5f7285;
}

.product--details .add-to-cart-wrap .buybox--button *{
    color: #5f7285;
}
